[KCM Locale]
Name=Madophs
Name[af]=Madophs
Name[ar]=Madophs
Name[as]=Madophs
Name[az]=Madophs
Name[be]=Madophs
Name[be@latin]=Madophs
Name[bg]=Madophs
Name[bn]=Madophs
Name[bn_IN]=Madophs
Name[bs]=Madophs
Name[ca]=Madophs
Name[ca@valencia]=Madophs
Name[cs]=Madophs
Name[csb]=Madophs
Name[cy]=Madophs
Name[da]=Madophs
Name[de]=Madophs
Name[el]=Madophs
Name[en_GB]=Madophs
Name[eo]=Madophs
Name[es]=Madophs
Name[et]=Madophs
Name[eu]=Madophs
Name[fa]=Madophs
Name[fi]=Madophs
Name[fr]=Madophs
Name[fy]=Madophs
Name[ga]=Madophs
Name[gd]=Madophs
Name[gl]=Madophs
Name[gu]=Madophs
Name[he]=Madophs
Name[hi]=Madophs
Name[hne]=Madophs
Name[hr]=Madophs
Name[hsb]=Madophs
Name[hu]=Madophs
Name[ia]=Madophs
Name[id]=Madophs
Name[is]=Madophs
Name[it]=Madophs
Name[ka]=Madophs
Name[kk]=Madophs
Name[km]=Madophs
Name[kn]=Madophs
Name[ko]=Madophs
Name[ku]=Madophs
Name[lt]=Madophs
Name[lv]=Madophs
Name[mai]=Madophs
Name[mk]=Madophs
Name[ml]=Madophs
Name[mr]=Madophs
Name[ms]=Madophs
Name[nb]=Madophs
Name[nds]=Madophs
Name[ne]=Madophs
Name[nl]=Madophs
Name[nn]=Madophs
Name[oc]=Madophs
Name[or]=Madophs
Name[pa]=Madophs
Name[pl]=Madophs
Name[pt]=Madophs
Name[pt_BR]=Madophs
Name[ro]=Madophs
Name[ru]=Madophs
Name[se]=Madophs
Name[si]=Madophs
Name[sk]=Madophs
Name[sl]=Madophs
Name[sr]=Madophs
Name[sr@ijekavian]=Madophs
Name[sr@ijekavianlatin]=Madophs
Name[sr@latin]=Madophs
Name[sv]=Madophs
Name[ta]=Madophs
Name[te]=Madophs
Name[tg]=Madophs
Name[th]=Madophs
Name[tr]=Madophs
Name[ug]=Madophs
Name[uk]=Madophs
Name[uz]=Madophs
Name[uz@cyrillic]=Madophs
Name[vi]=Madophs
Name[wa]=Madophs
Name[x-test]=xxMadophsxx
Name[zh_CN]=Madophs
Name[zh_TW]=Madophs
Region=northamerica
Languages=es
DecimalSymbol=.
ThousandsSeparator=
MonetaryDecimalSymbol=.
MonetaryThousandsSeparator=,
PositiveSign=
NegativeSign=-
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat[es]=%a %d %b %Y
DateFormat[eo]=%A, la %ea de %B %Y
DateFormatShort=%d/%m/%y
TimeFormat=%H:%M:%S
#DecimalPlaces=2
#MonetaryDecimalPlaces=2
CurrencyCodesInUse=MXN,MXV
CurrencyCode=MXN
